<footer class="footer">
    <div class="container">
        <div class="footer__left">
            <a class="footer__logo logo" href="all.html">
                <img src="{{common.footer.logo}}" alt="metall-invest" class="logo__image">
            </a>

            <div class="flex-separator"></div>

            <div class="footer__menu">
                {{#each common.footer.menu.columns}}
                <div class="footer__menu__col">
                    {{#each this.items}}
                        {{#if this.isSeparated}}
                            <div class="flex-separator"></div>
                        {{/if}}

                        {{#if this.link}}
                            <a class="footer__menu__title footer__menu__title_link" href="{{this.link}}">{{this.title}}</a>

                            {{else}}
                            <p class="footer__menu__title">{{this.title}}</p>
                        {{/if}}
                        
                        {{#if this.items}}
                            <div class="footer__menu__list">
                                {{#each this.items}}
                                    <a href="{{this.link}}" class="footer__menu__item">{{this.name}}</a>
                                {{/each}}
                            </div>
                        {{/if}}

                    {{/each}}
                </div>
                {{/each}}
            </div>

            <div class="flex-separator"></div>

            <img src="img/art-footer.svg" alt="decor" class="footer__decor">
            <div class="footer__bottom">
                <p class="footer__bottom__copyright">{{common.footer.copyright}}</p>
                <a href="{{common.footer.confidentiality-link}}" class="footer__bottom__confidentiality">{{common.footer.confidentiality}}</a>
                <a href="{{common.footer.term-link}}" class="footer__bottom__term">{{common.footer.term}}</a>
            </div>
        </div>
        <div class="footer__right">
            <div class="footer__right__container">
                <div class="flex-separator"></div>
                <img src="img/example-footer.png" alt="" class="footer__widget">
                <p class="footer__text">Свяжитесь с нами, любым удобным для Вас способом и мы расскажем Вам подробнее о нас и наших услугах</p>
                <button class="footer__btn btn btn_normal btn_dark">{{common.footer.btn}}</button>
                <div class="footer__contacts">
                    <a href="tel:{{common.footer.phone-link}}" class="footer__contacts__link footer__contacts__link_phone">{{common.footer.phone}}</a>
                    <a href="mailto:{{common.footer.email}}" class="footer__contacts__link footer__contacts__link_email">{{common.footer.email}}</a>
                </div>
                <div class="flex-separator"></div>
                <a href="https://alente.ru/" class="footer__made-by">
                    <img src="img/alente.svg" alt="alente" class="footer__made-by__logo">
                </a>
            </div>
        </div>
    </div>

</footer>
