<!DOCTYPE html>

{{#> common/body
    title=pages.main-page.pageTitle
    class="main-page"
}}

{{> layout/header title='pages.main-page.title'}}

<main class="main">
    <section class="primary section">
        <div class="container">
        
            {{!-- {{> slider/slider }} --}}

            <div class="glide">
                <div class="primary__slider">
                    <div class="glide__track primary__track" data-glide-el="track">
                        <div class="glide__slides primary__slides">
                            <a class="glide__slide primary__slide" href="">
                                <div class="primary__slide__content">
                                    <h1 class="primary__slide__title">{{pages.main-page.primary.title}}</h1>
                                    <ul class="primary__slide__list content__list">

                                        {{#each pages.main-page.primary.list}}
                                            <li class="primary__slide__item content__item">{{this.item}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <img class="glide__image primary__slide__image" src="img/content/partners1.png" alt="">
                            </a>
                            <a class="glide__slide" href="">
                                <img class="glide__image primary__slide__image" src="img/content/partners2.png" alt="">
                            </a>
                            <a class="glide__slide" href="">
                                <img class="glide__image primary__slide__image" src="img/content/team3-1.png.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="primary__bottom">
                    <div class="glide__navigation primary__navigation">
                        <div class="glide__arrows primary__arrows" data-glide-el="controls">
                            <button class="glide__arrow glide__arrow_left btn_more btn_more_left" data-glide-dir="<"></button>
                            <div class="glide__bullets primary__bullets" data-glide-el="controls[nav]">
                                <button class="glide__bullet primary__bullet" data-glide-dir="=0">01</button>
                                <button class="glide__bullet primary__bullet" data-glide-dir="=1">02</button>
                                <button class="glide__bullet primary__bullet" data-glide-dir="=2">03</button>
                                <button class="glide__bullet primary__bullet" data-glide-dir="=4">04</button>
                            </div>
                            <button class="glide__arrow glide__arrow_right btn btn_more btn_more_right" data-glide-dir=">"></button>
                        </div>
                    </div>
                    
                    <button class="primary__scroll"></button>
                    <div class="primary__widget"></div>
                </div>
            </div>

        </div>
    </section>
    <section class="production section">
        <div class="container">
            <div class="section__head">
                <h2 class="production__title section__title">{{pages.main-page.production.title}}<span class="section__title_accent">{{pages.main-page.production.title_accent}}</span></h2>
                <button class="section__btn btn btn_normal btn_light">{{pages.main-page.production.btn}}</button>
            </div>
            <ul class="production__list">
                {{#each pages.main-page.production.item}}
                    {{> production/item item=this }}
                {{/each}}
            </ul>
        </div>
    </section>
    <section class="advantages section">
        <div class="container">
            <h2 class="advantages__title section__title">{{pages.main-page.advantages.title}}</h2>
            <ul class="advantages__list">
                {{#each pages.main-page.advantages.item}}
                    {{> advantages/item item=this }}
                {{/each}}
            </ul>
        </div>

        <div class="advantages__ticker"></div>
    </section>
    <section class="team section">
        <div class="container">
            <div class="section__head">
                <h2 class="team__title section__title">{{pages.main-page.team.title}}<span class="section__title_accent">{{pages.main-page.team.title_accent}}</h2>
                <blockquote class="team__blockquote section__blockquote">{{pages.main-page.team.blockquote}}</blockquote>
                <div class="flex-separator"></div>
                <button class="section__btn btn btn_normal btn_light">{{pages.main-page.team.btn}}</button>
            </div>
            <div class="team__block">
                {{#each pages.main-page.team.item}}
                    {{> team/item item=this }}
                {{/each}}
            </div>
        </div>
    </section>
    <section class="partners section">
        <div class="container">
            <div class="section__head">
                <h2 class="partners__title section__title">{{pages.main-page.partners.title}}<span class="section__title_accent">{{pages.main-page.partners.title_accent}}</h2>
                <blockquote class="partners__blockquote section__blockquote">{{pages.main-page.partners.blockquote}}</blockquote>
                <div class="flex-separator"></div>
                <button class="section__btn btn btn_normal btn_light">{{pages.main-page.partners.btn}}</button>
            </div>

            {{> partners/index items=pages.main-page.partners.items }}
        </div>
    </section>
    <section class="map section">
        <div class="container">
            <div class="section__head">
                <h2 class="map__title section__title">{{pages.main-page.map.title}}<span class="section__title_accent">{{pages.main-page.map.title_accent}}</span></h2>
                <blockquote class="map__blockquote section__blockquote">{{pages.main-page.map.blockquote}}</blockquote>
            </div>
            <ul class="map__list">
                <li class="map__item map__item_krsk"></li>
                <li class="map__item map__item_irk"></li>
            </ul>
            <div class="map__routes">
                <img src="img/routes_krsk-irk.png" alt="favorites" class="btn__icon">
            </div>
        </div>
    </section>
</main>

{{> layout/footer}}
{{/common/body}}