<!DOCTYPE html>

{{#> common/body
    title=pages.main-page.pageTitle
    class="main-page"
}}

{{> layout/header title='pages.main-page.title'}}

<main class="main">
    <section class="primary section">
        <div class="container">
            <div class="primary__content">
                <h1 class="primary__title">{{pages.main-page.primary.title}}</h1>
                <ul class="primary__list content__list">

                    {{#each pages.main-page.primary.list}}
                        <li class="primary__item content__item">{{this.item}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="primary__slider"></div>
            <div class="primary__widget"></div>
            <button class="primary__scroll"></button>

        </div>
    </section>
    <section class="production section">
        <div class="container">
            <div class="section__head">
                <h2 class="production__title section__title">{{pages.main-page.production.title}}<span class="section__title_accent">{{pages.main-page.production.title_accent}}</span></h2>
                <button class="section__btn btn btn_normal btn_light">{{pages.main-page.production.btn}}</button>
            </div>
            <ul class="production__list">
                {{#each pages.main-page.production.item}}
                    {{> production/item item=this }}
                {{/each}}
            </ul>
        </div>
    </section>
    <section class="advantages section">
        <div class="container">
            <h2 class="advantages__title section__title">{{pages.main-page.advantages.title}}</h2>
            <ul class="advantages__list">
                {{#each pages.main-page.advantages.item}}
                    {{> advantages/item item=this }}
                {{/each}}
            </ul>
        </div>
        <div class="advantages__ticker"></div>
    </section>


    <section class="map section">
        <ul class="map__list">
            <li class="map__item map__item_krsk"></li>
            <li class="map__item map__item_irk"></li>
        </ul>
        <div class="map__routes">
            <img src="img/routes_krsk-irk.png" alt="favorites" class="btn__icon">
        </div>
    </section>


</main>

{{> layout/footer}}
{{/common/body}}