{{!-- <a class="card" href="{{this.card.link}}">
    <div class="card__wrapper">
        <img src="{{this.card.image}}" alt="" class="card__image">
        <button class="card__btn-favourite btn btn_round">
            <span class="card__btn-favourite__hidden">Добавить в избранное</span>
        </button>
    </div>
    <div class="card__description">
        <p class="card__name">{{this.card.name}}</p>
        <p class="card__parameter">{{this.card.parameter}}</p>
        <p class="card__price">{{this.card.price}}</p>
        <button class="card__btn-more btn btn_dark">Подробнее</button>
    </div>
</a> --}}


<a class="card" href="{{this.card.link}}">
    <div class="card__container">
        <div class="card__wrapper">
            <img src="img/content/card1.png" alt="" class="card__image">
            <button class="card__btn-favourite btn btn_round">
                <span class="card__btn-favourite__hidden">Добавить в избранное</span>
            </button>
        </div>
        <div class="card__description">
            <p class="card__name">Name</p>
            <p class="card__parameter">Параметры</p>
            <p class="card__price">от 6200</p>
            <button class="card__btn-more btn btn_dark">Подробнее</button>
        </div>
    </div>
</a>

<a class="card" href="{{this.card.link}}">
    <div class="card__container">
        <div class="card__wrapper">
            <img src="img/content/card1.png" alt="" class="card__image">
            <button class="card__btn-favourite btn btn_round">
                <span class="card__btn-favourite__hidden">Добавить в избранное</span>
            </button>
        </div>
        <div class="card__description">
            <p class="card__name">Name</p>
            <p class="card__parameter">Параметры</p>
            <p class="card__price">от 6200</p>
            <button class="card__btn-more btn btn_dark">Подробнее</button>
        </div>
    </div>
</a>

<a class="card" href="{{this.card.link}}">
    <div class="card__container">
        <div class="card__wrapper">
            <img src="img/content/card1.png" alt="" class="card__image">
            <button class="card__btn-favourite btn btn_round">
                <span class="card__btn-favourite__hidden">Добавить в избранное</span>
            </button>
        </div>
        <div class="card__description">
            <p class="card__name">Name</p>
            <p class="card__parameter">Параметры</p>
            <p class="card__price">от 6200</p>
            <button class="card__btn-more btn btn_dark">Подробнее</button>
        </div>
    </div>
</a>

<a class="card" href="{{this.card.link}}">
    <div class="card__container">
        <div class="card__wrapper">
            <img src="img/content/card1.png" alt="" class="card__image">
            <button class="card__btn-favourite btn btn_round">
                <span class="card__btn-favourite__hidden">Добавить в избранное</span>
            </button>
        </div>
        <div class="card__description">
            <p class="card__name">Name</p>
            <p class="card__parameter">Параметры</p>
            <p class="card__price">от 6200</p>
            <button class="card__btn-more btn btn_dark">Подробнее</button>
        </div>
    </div>
</a>
<a class="card" href="{{this.card.link}}">
    <div class="card__container">
        <div class="card__wrapper">
            <img src="img/content/card1.png" alt="" class="card__image">
            <button class="card__btn-favourite btn btn_round">
                <span class="card__btn-favourite__hidden">Добавить в избранное</span>
            </button>
        </div>
        <div class="card__description">
            <p class="card__name">Name</p>
            <p class="card__parameter">Параметры</p>
            <p class="card__price">от 6200</p>
            <button class="card__btn-more btn btn_dark">Подробнее</button>
        </div>
    </div>
</a>
<a class="card" href="{{this.card.link}}">
    <div class="card__container">
        <div class="card__wrapper">
            <img src="img/content/card1.png" alt="" class="card__image">
            <button class="card__btn-favourite btn btn_round">
                <span class="card__btn-favourite__hidden">Добавить в избранное</span>
            </button>
        </div>
        <div class="card__description">
            <p class="card__name">Name</p>
            <p class="card__parameter">Параметры</p>
            <p class="card__price">от 6200</p>
            <button class="card__btn-more btn btn_dark">Подробнее</button>
        </div>
    </div>
</a>
<a class="card" href="{{this.card.link}}">
    <div class="card__container">
        <div class="card__wrapper">
            <img src="img/content/card1.png" alt="" class="card__image">
            <button class="card__btn-favourite btn btn_round">
                <span class="card__btn-favourite__hidden">Добавить в избранное</span>
            </button>
        </div>
        <div class="card__description">
            <p class="card__name">Name</p>
            <p class="card__parameter">Параметры</p>
            <p class="card__price">от 6200</p>
            <button class="card__btn-more btn btn_dark">Подробнее</button>
        </div>
    </div>
</a>
