<a class="card" href="{{data.link}}">
    <div class="card__wrapper">
        <img src="{{data.image}}" alt="" class="card__image">
        <button class="card__btn-favorite btn btn_round">
            <span class="card__btn-favorite__hidden">Добавить в избранное</span>
        </button>
    </div>
    <div class="card__description">
        <p class="card__name">{{data.name}}</p>
        <p class="card__parameter">{{data.parameter}}</p>
        <p class="card__price">{{data.price}}</p>
        <button class="card__btn-more btn btn_dark">Подробнее</button>
    </div>
</a>

