<!DOCTYPE html>

{{#> common/body
    title=pages.career.pageTitle
    class="career"
}}

{{> layout/header title='pages.career.title'}}

<main class="main">
    <div class="container">
        {{> common/breadcrumbs items=pages.career.breadcrumbs}}
        <h2 class="title career__title"><span class="title_highlighted career__title_highlighted">{{pages.career.title-highlighted}}</span>{{pages.career.title}}</h2>

        <div class="cols cols_wide">
            <div class="cols__main">
                <h4 class="content__subtitle">{{pages.career.subtitle_1}}</h4>
                <p class="content__text">{{pages.career.text_1}}</p>
                <p class="content__text">{{pages.career.text_2}}</p>
                <h4 class="content__subtitle">{{pages.career.subtitle_2}}</h4>
                <ul class="content__list">{{pages.career.list}}
                    <li class="content__item">клиентоориентированность и готовность выполнить заказ любой сложности за короткое время;</li>
                    <li class="content__item">честность в работе с заказчиками, коллегами, поставщиками;</li>

                </ul>

            </div>

            <aside class="cols__sidebar">
                <div class="career__sidebar">
                    <p class="career__sidebar__text">{{pages.career.sidebar-text}}</p>
                    <a href="mailto:{{pages.career.sidebar-link}}" class="career__sidebar__link">{{pages.career.sidebar-link}}</a>

                </div>

            </aside>
        </div>
    </div>

    <div class="career__vacancies">
        <h4 class="content__subtitle container">Активные вакансии нашей компании</h4>
        <div class="career__vacancies__carousel carousel" data-simplebar data-simplebar-auto-hide="false">
            <div class="container">
            <div class="career__vacancies__list">
                <div class="career__vacancies__item">
                    <a href="" class="career__vacancies__link">
                        <p class="career__vacancies__name">Менеджер активных продаж</p>
                        <p class="career__vacancies__city">г.Красноярск</p>
                    </a>
                </div>
                <div class="career__vacancies__item">
                    <a href="" class="career__vacancies__link">
                        <p class="career__vacancies__name">Специалист по металлообработке</p>
                        <p class="career__vacancies__city">г.Красноярск</p>
                    </a>
                </div>
                <div class="career__vacancies__item">
                    <a href="" class="career__vacancies__link">
                        <p class="career__vacancies__name">Менеджер активных продаж Менеджер активных продаж Менеджер активных продаж</p>
                        <p class="career__vacancies__city">г.Красноярск</p>
                    </a>
                </div>
                <div class="career__vacancies__item">
                    <a href="" class="career__vacancies__link">
                        <p class="career__vacancies__name">Логист</p>
                        <p class="career__vacancies__city">г.Иркутск</p>
                    </a>
                </div>
                <div class="career__vacancies__item">
                    <a href="" class="career__vacancies__link">
                        <p class="career__vacancies__name">Менеджер активных продаж</p>
                        <p class="career__vacancies__city">г.Красноярск</p>
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>

</main>

{{> layout/footer}}
{{/common/body}}